<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Details</title>
    <link rel="stylesheet" href="../static/css/class_attendance_table.css">
</head>
<style>
    /* class_attendance_table.css */
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        color: black;
    }

    th {
        background-color: green;
    }

    .present {
        color: green;
    }

    .absent {
        color: red;
    }

</style>
<body>
    <h2 style="color:black;">Attendance for {{ class_name }} - {{ subject }} on {{ date }}</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Enrollment</th>
                <th>Status</th>
                <th>Total Classes Taken</th>
                <th>Classes Attended</th>
                <th>Overall Average</th>
            </tr>
        </thead>
        <tbody>
            {% for record in attendance_data %}
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.enrollment }}</td>
                <td class="{% if record.status == 'Present' %}present{% else %}absent{% endif %}">{{ record.status }}</td>
                <td>{{ record.total_class_taken }}</td>
                <td>{{ record.class_attended }}</td>
                <td>{{ record.overall_average }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
